<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Francesco Bonizzi developer website">
    <meta name="author" content="Francesco Bonizzi">

    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>@ViewBag.MetaTitle</title>
</head>

<body>

    <div class="container">

        <header class="jumbotron">
            <h1 class="display-3">Francesco Bonizzi</h1>
            <h2>Software developer</h2>
            <img class="img-responsive" src="~/images/FrancescoBonizzi.jpg" title="Francesco Bonizzi image" width="150" />
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="/Pages/CurriculumVitae" class="btn btn-primary btn-lg" title="Francesco Bonizzi Curriculum Vitae">Curriculum Vitae</a>
        </header>

        <div>
            <span>Contact me!</span>
            <a href="@ViewBag.ContactInfos.Email.Url" class="fa fa-envelope" title="@ViewBag.ContactInfos.Email.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.Github.Url" class="fa fa-github" title="@ViewBag.ContactInfos.Github.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.Facebook.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Facebook.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.Twitter.Url" class="fa fa-twitter" title="@ViewBag.ContactInfos.Twitter.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.Instangram.Url" class="fa fa-instangram" title="@ViewBag.ContactInfos.Instangram.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.YouTube.Url" class="fa fa-youtube" title="@ViewBag.ContactInfos.YouTube.Title" target="_blank"></a>
            <a href="@ViewBag.ContactInfos.Android.Url" class="fa fa-android" title="@ViewBag.ContactInfos.Android.Title" target="_blank"></a>

        </div>

        <div>
            @RenderBody()
        </div>

    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; fbonizzi.it 2018. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>