<!DOCTYPE html>

<html>

<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Francesco Bonizzi developer website">
    <meta name="author" content="Francesco Bonizzi">

    <title>@ViewBag.MetaTitle</title>
</head>

<body>

    <div class="container">

        <header>
            <h1>Francesco Bonizzi</h1>
            <h2>Software developer</h2>
            <img src="~/images/FrancescoBonizzi.jpg" title="Francesco Bonizzi image" width="150" />
            <a href="/Pages/CurriculumVitae" title="Francesco Bonizzi Curriculum Vitae">Curriculum Vitae</a>
        </header>

        <div>

            <a href="mailto:@ViewBag.ContactInfos.Email.Url" title="@ViewBag.ContactInfos.Email.Title"></a>
            <a href="@ViewBag.ContactInfos.Github.Url" title="@ViewBag.ContactInfos.Github.Title"></a>
            <a href="@ViewBag.ContactInfos.Facebook.Url" title="@ViewBag.ContactInfos.Facebook.Title"></a>
            <a href="@ViewBag.ContactInfos.Twitter.Url" title="@ViewBag.ContactInfos.Twitter.Title"></a>
            <a href="@ViewBag.ContactInfos.Instangram.Url" title="@ViewBag.ContactInfos.Instangram.Title"></a>
            <a href="@ViewBag.ContactInfos.YouTube.Url" title="@ViewBag.ContactInfos.YouTube.Title"></a>
            <a href="@ViewBag.ContactInfos.Android.Url" title="@ViewBag.ContactInfos.Android.Title"></a>

        </div>

        <div>
            @RenderBody()
        </div>

    </div>

    <footer>
        <div>
            <p>Copyright &copy; fbonizzi.it 2018. All Rights Reserved.</p>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>

</html>


<!-- TODO: immagini le faccio io così sono allineate-->
<!-- TODO: delle gif con lo stesso colore di uno sfondo sopra ad ogni gioco... es omini che corrono, pulsanti che si schiacciano -->