<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Francesco Bonizzi developer website">
    <meta name="author" content="Francesco Bonizzi">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/fontawesome.css" rel="stylesheet" />

    <title>@ViewBag.MetaTitle</title>
</head>

<body>

    <div class="container">

        <header class="jumbotron">
            <h1 class="display-3">Francesco Bonizzi</h1>
            <h2>Software developer</h2>
            <img class="img-responsive" src="~/images/FrancescoBonizzi.jpg" title="Francesco Bonizzi image" width="150" />
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="/Pages/CurriculumVitae" class="btn btn-primary btn-lg" title="Francesco Bonizzi Curriculum Vitae">Curriculum Vitae</a>
        </header>

        <div>
            <span>Contact me!</span>
            <a href="@ViewBag.ContactInfos.Email.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Email.Title" target="_blank">@ViewBag.ContactInfos.Email.Title</a>
            <a href="@ViewBag.ContactInfos.Github.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Github.Title" target="_blank">@ViewBag.ContactInfos.Github.Title</a>
            <a href="@ViewBag.ContactInfos.Facebook.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Facebook.Title" target="_blank">@ViewBag.ContactInfos.Facebook.Title</a>
            <a href="@ViewBag.ContactInfos.Twitter.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Twitter.Title" target="_blank">@ViewBag.ContactInfos.Twitter.Title</a>
            <a href="@ViewBag.ContactInfos.Patreon.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.Patreon.Title" target="_blank">@ViewBag.ContactInfos.Patreon.Title</a>
            <a href="@ViewBag.ContactInfos.YouTube.Url" class="fa fa-facebook" title="@ViewBag.ContactInfos.YouTube.Title" target="_blank">@ViewBag.ContactInfos.YouTube.Title</a>
            <!-- TODO Instangram -->

        </div>

        <div>
            @RenderBody()
        </div>

    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; fbonizzi.it 2018. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>