@{
    ViewData["MetaTitle"] = "Francesco Bonizzi | Software developer";
    @model fbonizziDotIt.ViewModels.IndexViewModel
}

<div>

        @foreach (var project in Model.Portfolio)
        {
            var firstImage = project.Images.First();

            <div>

                <img src="@firstImage.Url" alt="@firstImage.Title">

                <div>
                    <h4>@project.Title</h4>
                    <p>@project.Description</p>
                </div>

                <div>
                    @foreach (var projectLink in project.Links)
                    {
                        <a href="@projectLink.Url" title="@projectLink.Title" target="_blank">@projectLink.Title</a>
                    }
                </div>

            </div>
        }

</div>